.margin__img_left {
    margin-right: 30px;
}

.margin__caption {
    display: inline-block;
    vertical-align: top;   
}

.margin__caption_left {
    margin-right: 40px;
    max-width: calc(100% - 606px);
}

.margin__caption_right {
    max-width: calc(100% - 596px);
}

.margin__text:not(:last-child) {
    margin-bottom: 30px;
}